form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
  width: 550px;
  margin: 0 auto;
  margin-top: 300px;
  margin-bottom: 300px;
}

h5 {
  color: var(--branco);

  text-align: center;

  font: 700 3rem/110% var(--font-family);
}

input,
textarea,
button {
  padding: 10px;
  background-color: var(--branco);
  border-radius: 8px;
  resize: none;
}

input::placeholder,
textarea::placeholder,
button {
  font: 500 1rem/110% var(--font-family);
  color: rgba(0, 0, 0, 0.4);
  background: white;
  resize: none;
}

button {
  display: flex;
  justify-content: center;
  color: white;
  width: 200px;
  background: #d10f66;
  border-radius: 8px;
  cursor: pointer;
}

#btn-submit {
  display: flex;
  justify-content: center;
}

button:hover{
    transform: scale(1.1);
    transition: .3s ease;
}

form {
  box-shadow: none !important;
}

input, textarea, button {
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none; 
}


/* Responsividade */
@media (max-width: 768px) {
  form {
    width: 90%;
    max-width: 400px;
    margin-top: 150px;
    margin-bottom: 150px;
  }

  h5 {
    font-size: 2rem;
  }

  input, textarea, button {
    width: 100%;
    font-size: 1rem;
  }

  button {
    max-width: 150px;
  }
}
